.my-style {
  background-color: #9DB2BF; //Always use classes with same style//
  color: #413543;
  border: 15px solid #000;
  border: 10px dotted #000;
}

#my-id {
  background-color: #C1D0B5; /* IDs are not recommended */
  color: #068DA9;
}

p {
  background-color: #9DB2BF;
  color: #025464;
}

h1 {
  color: #000; //Don't overwrite//
}
